node_modules/
package-lock.json
package.json
__pycache__/

output(1st_)
output(2nd_)

.venv/
venv-wsl/
temp/

myth-files/
RESULTS-archiv/
# output-NEXT4-iteration/*/
output/

.venv-finetune/
.finetune2/
.finetune/

.v-finetune1/
.v-finetune2/
.v-finetune3/
