node_modules/
package-lock.json
package.json
__pycache__/

output(1st_)
output(2nd_)

.venv/
venv-wsl/
temp/

myth-files/
RESULTS-archiv/
# output-NEXT4-iteration/*/
output/
output_Apr_final/
archive_June/


.v-finetune1/
.v-finetune2/

fine-tuning/unsloth_compiled_cache/
fine-tuning/compare-results-FT-Apr28/
